<h3>Mida Imatge: </h3>
<input type="text" id="midaImatge">
<br>
<h3 id="numPagines">Pàgina</h3>
<table>
    <thead>
      <tr>
        <th>Títol</th>
        <th>Id</th>
        <th>Imatge</th>
        <th>Visualitzar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quadre of allQuadres">
        <td>{{quadre.title}}</td>
        <td>{{quadre.id}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Documents per plana:</h3> <input type="number" id="documentsPlana">
  <h3>Plana:</h3> <input type="number" id="numPlana">
  <button (click)="AccedirPagina()">Accedir</button>